<div class="container">
  <div class="row">
    <div class="form-group col-lg-12">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-television"></i>
        </div>
        <input [(ngModel)]="show.title" id="text" name="text" type="text" class="form-control"
               placeholder="Name einer TV-Serie">
        <button name="submit" style="margin-left: 10px;" type="submit" class="btn btn-primary" (click)="save()">
          <i class="fa fa-save"></i></button>
      </div>
    </div>
  </div>
</div>
